In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
f = '../data/Recámara Principal.csv'
rec = pd.read_csv(f,skiprows=10,usecols=[1,3,5])
rec.TIME = pd.to_datetime(rec.TIME,format='%m/%d/%y %H:%M:%S')
rec.set_index('TIME',inplace=True)
rec.Temp = rec['Temp'].str.extract(r'(\d+\.\d+)').astype(float)
rec.RH = rec['RH'].str.extract(r'(\d+\.\d+)').astype(float)

In [3]:
rec.to_csv('../data/002_processed/Recamara_principal.csv')

In [4]:
rec.sort_index()

                     Temp    RH
TIME
2024-02-09 12:37:43  24.4  55.8
2024-02-09 13:37:43  25.7  50.7
2024-02-09 14:37:43  26.3  50.6
2024-02-09 15:37:43  27.0  51.6
2024-02-09 16:37:43  26.6  50.7
...                   ...   ...
2024-04-04 11:37:43  26.3  54.4
2024-04-04 12:37:43  26.4  57.4
2024-04-04 13:37:43  26.5  57.1
2024-04-04 14:37:43  26.7  58.9
2024-04-04 15:37:43  27.4  64.8

[1324 rows x 2 columns]